%h1 Listing categories

- unless @categories.empty?
  %table
    %tr
      %th Name
      %th Share URL
      %th Twitter
      %th actions 
    - @categories.each do |category|
      %tr
        %td=category.name
        %td=category.share_url
        %td=category.twitter
        %td= link_to "Edit", "/categories/#{category.id}/edit"
- else
  No categories found

%br
%p= link_to "New Category", "/categories/new"
