%body#ssbody.widgetBackground
  #widgetDiv.widgetDiv.SSContainer.bordered
    %table{:width => "100%"}
      %tr
        %td
          #widgetBody.shopstyle_searchBody
            #productBrowser{:style => ""}
              %div{:align => "center", :style => "margin-bottom:3px; position:relative"}
                / Centered scroll arrows, must stay above the hint, below a dialog wash
                #productBrowserScrollArrows{:style => "visibility:hidden; position:relative; z-index:10;"}
                  %table.shopstyle_cellBrowserArrows{:border => "0"}
                    %tr
                      %td{:style => "padding:2px"}
                        #productBrowserTopScrollLeft.shopstyle_cellBrowserLeftArrowDisabled
                      %td.standardFont.standardGray.shopstyle_cellBrowserText{:style => "white-space:nowrap; padding:3px 5px 3px 3px", :valign => "middle"}
                        %span#productBrowserPageNumber
                        of
                        %span#productBrowserPageCount
                      %td{:style => "padding:2px"}
                        #productBrowserTopScrollRight.shopstyle_cellBrowserRightArrow
              #productBrowserProductViewerWrapper.widgetViewerWrapper{:style => "position:relative"}
                #productBrowserContentDiv.productViewer
                  .rawCell
                    .productCellMedium
                      %center
                        %table{:style => "width: 112px; height: 140px;"}
                          %tr
                            %td{:align => "center", :valign => "middle"}
                              %a.productLink{:href => "/action/loadRetailerProductPage?id=263753495&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                                %img.cellImg{:alt => "tweezerman shape and shine", :border => "0", :src => "http://resources.shopstyle.com/sim/4e/3d/4e3da8af905162aa7773f8eda78b3775_medium/tweezerman-folicacom-beauty-products-shape-and-shine.jpg"}/
                      %a.productLink{:href => "/action/loadRetailerProductPage?id=263753495&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                      #twoLineDiv.productCellText.productCellTwoTextLines.shopstyle_productName
                        Tweezerman Shape And Shine
                      .productCellText.productCellOneTextLine.shopstyle_productPrice
                        %span.price $7
                        \&ndash; Folica.com
                  / @-@-@-@-@-@-@-@
                  .rawCell
                    .productCellMedium
                      %center
                        %table{:style => "width: 112px; height: 140px;"}
                          %tr
                            %td{:align => "center", :valign => "middle"}
                              %a.productLink{:href => "/action/loadRetailerProductPage?id=262069909&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                                %img.cellImg{:alt => "deluge", :border => "0", :src => "http://resources.shopstyle.com/sim/ca/96/ca969f72103c2ed68a8ec70f26aa9c35_medium/stuart-weitzman-shoes-boots-deluge.jpg"}/
                      %a.productLink{:href => "/action/loadRetailerProductPage?id=262069909&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                      #twoLineDiv.productCellText.productCellTwoTextLines.shopstyle_productName
                        Deluge
                      .productCellText.productCellOneTextLine.shopstyle_productPrice
                        %span.price $325
                        \&ndash; Stuart Weitzman
                  / @-@-@-@-@-@-@-@
                  .rawCell
                    .productCellMedium
                      %center
                        %table{:style => "width: 112px; height: 140px;"}
                          %tr
                            %td{:align => "center", :valign => "middle"}
                              %a.productLink{:href => "/action/loadRetailerProductPage?id=263348916&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                                %img.cellImg{:alt => "merrell mimosa emme", :border => "0", :src => "http://resources.shopstyle.com/sim/d2/d8/d2d85cbaa0b4c066b65d045e83b53120_medium/merrell-zappos-shoes-boots-mimosa-emme.jpg"}/
                      %a.productLink{:href => "/action/loadRetailerProductPage?id=263348916&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                      #twoLineDiv.productCellText.productCellTwoTextLines.shopstyle_productName
                        Merrell - Mimosa Emme
                      .productCellText.productCellOneTextLine.shopstyle_productPrice
                        %span.price $100
                        \&ndash; Zappos
                  / @-@-@-@-@-@-@-@
                  .rawCell
                    .productCellMedium
                      %center
                        %table{:style => "width: 112px; height: 140px;"}
                          %tr
                            %td{:align => "center", :valign => "middle"}
                              %a.productLink{:href => "/action/loadRetailerProductPage?id=262904182&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                                %img.cellImg{:alt => "chan luu glass seed bead necklace", :border => "0", :src => "http://resources.shopstyle.com/sim/4a/b4/4ab409dc6f3523de3f4768d589e6eacb_medium/chan-luu-planet-blue-necklaces-glass-seed-bead-necklace.jpg"}/
                      %a.productLink{:href => "/action/loadRetailerProductPage?id=262904182&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                      #twoLineDiv.productCellText.productCellTwoTextLines.shopstyle_productName
                        Chan Luu Glass Seed Bead Necklace
                      .productCellText.productCellOneTextLine.shopstyle_productPrice
                        %span.price $105
                        \&ndash; Planet Blue
                  / @-@-@-@-@-@-@-@
                  .rawCell
                    .productCellMedium
                      %center
                        %table{:style => "width: 112px; height: 140px;"}
                          %tr
                            %td{:align => "center", :valign => "middle"}
                              %a.productLink{:href => "/action/loadRetailerProductPage?id=262894306&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                                %img.cellImg{:alt => "filigree heart feather earring", :border => "0", :src => "http://resources.shopstyle.com/sim/18/8a/188a9d8bd0da0dce7f2d991e3c2db39a_medium/bebe-earrings-filigree-heart-feather-earring.jpg"}/
                      %a.productLink{:href => "/action/loadRetailerProductPage?id=262894306&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                      #twoLineDiv.productCellText.productCellTwoTextLines.shopstyle_productName
                        Filigree Heart &amp; Feather Earring
                      .productCellText.productCellOneTextLine.shopstyle_productPrice
                        %span.price $29
                        \&ndash; Bebe
                  / @-@-@-@-@-@-@-@
                  .rawCell
                    .productCellMedium
                      %center
                        %table{:style => "width: 112px; height: 140px;"}
                          %tr
                            %td{:align => "center", :valign => "middle"}
                              %a.productLink{:href => "/action/loadRetailerProductPage?id=262641481&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                                %img.cellImg{:alt => "dooney bourke eastwest shopper tote", :border => "0", :src => "http://resources.shopstyle.com/sim/0f/19/0f1908acd22ccd1db198f8b40205c221_medium/dooney-bourke-lord-taylor-totes-eastwest-shopper-tote.jpg"}/
                      %a.productLink{:href => "/action/loadRetailerProductPage?id=262641481&pid=uid5264-134708-51&trefid=embedded", :onclick => "return productdetails_openRetailerWindow(this.href, this.extraParams);", :rel => "nofollow"}
                      #twoLineDiv.productCellText.productCellTwoTextLines.shopstyle_productName
                        DOONEY &amp; BOURKE East/West Shopper Tote
                      .productCellText.productCellOneTextLine.shopstyle_productPrice
                        %span.price $178
                        \&ndash; Lord &amp; Taylor
                  / @-@-@-@-@-@-@-@
