- unless @products.empty?
  %div
    - @products.each do |product|
      %div.item
        
        %a(href="#{product.local_url(params[:site_id])}" target="blank" id="#{product.id}")
          %img(src="#{product.image_url}")
          %br
          %span= product.title
          
