<body id="ssbody" class="widgetBackground">
  <div id="widgetDiv" class="widgetDiv SSContainer bordered">
    <table width="100%">
      <tr>
        <td>
          <div id="widgetBody" class="shopstyle_searchBody">
            <div id="productBrowser" style="">
              <div align="center" style="margin-bottom:3px; position:relative">
<!-- Centered scroll arrows, must stay above the hint, below a dialog wash -->
                
                <div id="productBrowserScrollArrows" style="visibility:hidden; position:relative; z-index:10;">
                  <table class="shopstyle_cellBrowserArrows" border="0">
                    <tr>
                      <td style="padding:2px">
                        <div id="productBrowserTopScrollLeft" class="shopstyle_cellBrowserLeftArrowDisabled">
                      </div></td>
                    <td class="standardFont standardGray shopstyle_cellBrowserText" valign="middle" style="white-space:nowrap; padding:3px 5px 3px 3px"><span id="productBrowserPageNumber"></span> of <span id="productBrowserPageCount"></span></td>
                      <td style="padding:2px">
                        <div id="productBrowserTopScrollRight" class="shopstyle_cellBrowserRightArrow">
                      </div></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div id="productBrowserProductViewerWrapper" class="widgetViewerWrapper" style="position:relative">
                <div id="productBrowserContentDiv" class="productViewer">
                  <div class="rawCell">
                    <div class="productCellMedium"> <center>
                      <table style="width: 112px; height: 140px;">
                        <tr>
                          <td valign="middle" align="center"><a href="/action/loadRetailerProductPage?id=263753495&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                          <img alt="tweezerman shape and shine" class="cellImg" src="http://resources.shopstyle.com/sim/4e/3d/4e3da8af905162aa7773f8eda78b3775_medium/tweezerman-folicacom-beauty-products-shape-and-shine.jpg" border="0"/></a></td>
                        </tr>
                      </table> </center><a href="/action/loadRetailerProductPage?id=263753495&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                      <div class="productCellText productCellTwoTextLines shopstyle_productName" id="twoLineDiv"> Tweezerman Shape And Shine
                      </div>
                      <div class="productCellText productCellOneTextLine shopstyle_productPrice"> <span class="price">$7</span> &ndash; Folica.com
                      </div></a>
                    </div>
                  </div>
<!-- @-@-@-@-@-@-@-@ -->
                  
                  <div class="rawCell">
                    <div class="productCellMedium"> <center>
                      <table style="width: 112px; height: 140px;">
                        <tr>
                          <td valign="middle" align="center"><a href="/action/loadRetailerProductPage?id=262069909&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                          <img alt="deluge" class="cellImg" src="http://resources.shopstyle.com/sim/ca/96/ca969f72103c2ed68a8ec70f26aa9c35_medium/stuart-weitzman-shoes-boots-deluge.jpg" border="0"/></a></td>
                        </tr>
                      </table> </center><a href="/action/loadRetailerProductPage?id=262069909&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                      <div class="productCellText productCellTwoTextLines shopstyle_productName" id="twoLineDiv"> Deluge
                      </div>
                      <div class="productCellText productCellOneTextLine shopstyle_productPrice"> <span class="price">$325</span> &ndash; Stuart Weitzman
                      </div></a>
                    </div>
                  </div>
<!-- @-@-@-@-@-@-@-@ -->
                  
                  <div class="rawCell">
                    <div class="productCellMedium"> <center>
                      <table style="width: 112px; height: 140px;">
                        <tr>
                          <td valign="middle" align="center"><a href="/action/loadRetailerProductPage?id=263348916&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                          <img alt="merrell mimosa emme" class="cellImg" src="http://resources.shopstyle.com/sim/d2/d8/d2d85cbaa0b4c066b65d045e83b53120_medium/merrell-zappos-shoes-boots-mimosa-emme.jpg" border="0"/></a></td>
                        </tr>
                      </table> </center><a href="/action/loadRetailerProductPage?id=263348916&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                      <div class="productCellText productCellTwoTextLines shopstyle_productName" id="twoLineDiv"> Merrell - Mimosa Emme
                      </div>
                      <div class="productCellText productCellOneTextLine shopstyle_productPrice"> <span class="price">$100</span> &ndash; Zappos
                      </div></a>
                    </div>
                  </div>
<!-- @-@-@-@-@-@-@-@ -->
                  
                  <div class="rawCell">
                    <div class="productCellMedium"> <center>
                      <table style="width: 112px; height: 140px;">
                        <tr>
                          <td valign="middle" align="center"><a href="/action/loadRetailerProductPage?id=262904182&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                          <img alt="chan luu glass seed bead necklace" class="cellImg" src="http://resources.shopstyle.com/sim/4a/b4/4ab409dc6f3523de3f4768d589e6eacb_medium/chan-luu-planet-blue-necklaces-glass-seed-bead-necklace.jpg" border="0"/></a></td>
                        </tr>
                      </table> </center><a href="/action/loadRetailerProductPage?id=262904182&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                      <div class="productCellText productCellTwoTextLines shopstyle_productName" id="twoLineDiv"> Chan Luu Glass Seed Bead Necklace
                      </div>
                      <div class="productCellText productCellOneTextLine shopstyle_productPrice"> <span class="price">$105</span> &ndash; Planet Blue
                      </div></a>
                    </div>
                  </div>
<!-- @-@-@-@-@-@-@-@ -->
                  
                  <div class="rawCell">
                    <div class="productCellMedium"> <center>
                      <table style="width: 112px; height: 140px;">
                        <tr>
                          <td valign="middle" align="center"><a href="/action/loadRetailerProductPage?id=262894306&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                          <img alt="filigree heart feather earring" class="cellImg" src="http://resources.shopstyle.com/sim/18/8a/188a9d8bd0da0dce7f2d991e3c2db39a_medium/bebe-earrings-filigree-heart-feather-earring.jpg" border="0"/></a></td>
                        </tr>
                      </table> </center><a href="/action/loadRetailerProductPage?id=262894306&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                      <div class="productCellText productCellTwoTextLines shopstyle_productName" id="twoLineDiv"> Filigree Heart &amp; Feather Earring
                      </div>
                      <div class="productCellText productCellOneTextLine shopstyle_productPrice"> <span class="price">$29</span> &ndash; Bebe
                      </div></a>
                    </div>
                  </div>
<!-- @-@-@-@-@-@-@-@ -->
                  
                  <div class="rawCell">
                    <div class="productCellMedium"> <center>
                      <table style="width: 112px; height: 140px;">
                        <tr>
                          <td valign="middle" align="center"><a href="/action/loadRetailerProductPage?id=262641481&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                          <img alt="dooney bourke eastwest shopper tote" class="cellImg" src="http://resources.shopstyle.com/sim/0f/19/0f1908acd22ccd1db198f8b40205c221_medium/dooney-bourke-lord-taylor-totes-eastwest-shopper-tote.jpg" border="0"/></a></td>
                        </tr>
                      </table> </center><a href="/action/loadRetailerProductPage?id=262641481&pid=uid5264-134708-51&trefid=embedded" class="productLink" onclick="return productdetails_openRetailerWindow(this.href, this.extraParams);" rel="nofollow">
                      <div class="productCellText productCellTwoTextLines shopstyle_productName" id="twoLineDiv"> DOONEY &amp; BOURKE East/West Shopper Tote
                      </div>
                      <div class="productCellText productCellOneTextLine shopstyle_productPrice"> <span class="price">$178</span> &ndash; Lord &amp; Taylor
                      </div></a>
                    </div>
                  </div>
<!-- @-@-@-@-@-@-@-@ -->
                  
                </div>
              </div>
            </div>
        </div> 
       </td>
      </tr>
    </table>
</body>
