%h1 Listing products

- unless @products.empty?
  %table
    %tr
      %th Title
      %th Link
      %th Image_url
      %th Brand
      %th Category
      %th Tags
      %th Actions
    - @products.each do |product|
      %tr
        %td=product.title
        %td=product.link
        %td=product.image_url
        %td=link_to product.brand_name, product.brand_url
        %td=product.category
        %td=product.tags.collect(&:name).join(', ')
        %td
          %a(href="/products/#{product.id}/edit") Edit
- else
  No products found

%br
%p= link_to "New Product", "/products/new"