%h1 Listing tags

- unless @tags.empty?
  %table
    %tr
      %th Name
      %th actions 
    - @tags.each do |tag|
      %tr
        %td=tag.name
        %td= link_to "Edit", "/tags/#{tag.id}/edit"
- else
  No tags found
%br