%h1 New brand
- action = "/brands" + (@brand.new_record? ? "" : "/#{@brand.id}")
%form{ :action => action, :method => "post" }
  - if @errors
    #message= @brand.errors.full_messages
  %ul
    %li
      %label{ for: "brand-name" } Name
      %input{ type: "text", name: "brand[name]", id: "brand-name", value: "#{@brand.name}" }
    %li
      %label{ for: "referral-referral-string" } URL
      %input{ type: "text", name: "brand[url]", id: "brand-url", value: "#{@brand.url}" }
  %input(type="submit")